.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* Header */
#vm-masthead {
  width: 100%;
  height: 98px;
  background-repeat: repeat-x;
  background: #322332;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  .accessibility {
    display: none;
  }
  #vm-unified-header {
    width: 980px;
    float: none;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
    .vm-logo {
      background-image: url("../img/IE.vm-logo-2014.png");
    }
    .navbar-brand {
      a {
        background-position: 0px 8px;
        height: 82px;
        text-indent: -300em;
        position: absolute;
        top: 8px;
        width: 110px;
        z-index: 1;
        background-repeat: no-repeat;
      }
    }
    .nav-pills {
      font-weight: normal;
      color: #fff;
      li {
        list-style: none;
      }
      li a.active, li a:hover, li a:focus, .select-tva.selected, .select-web.selected, .select-tva:hover, .select-web:hover, .select-tva:focus, .select-web:focus {
        color: #f00 !important;
        background: none !important;
        text-decoration: none;
      }
    }
    .uni-nav, .search-nav, .tva-nav {
      height: 35px;
    }
    .uni-nav {
      .nav-pills {
        > li > a {
          background: #3c3542;
          color: #ffffff;
          padding: 5px 15px;
          border-right: 1px solid #322332;
          display: block;
          width: auto;
          border-radius: 0;
          font-weight: normal;
        }
        li + li {
          margin-left: 0;
        }
        li:first-child a {
          border-bottom-left-radius: 3px;
        }
        li:last-child a {
          border-bottom-right-radius: 3px;
        }
      }
      .uni-login {
        .nav-pills {
          margin-left: -25px;
        }
      }
    }
  }
}