input[type="text"], input[type="password"], input[type="datetime"], input[type="number"], input[type="email"] {
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: none;
}

.page-title {
  h2{
    font-size: 24px;
    color: #ffffff;
  }
}

#main_content {
  background-color: #fff;
  a {
    color: #488dc6;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  p {
    margin-bottom: 20px;
  }
  h3 {
    color: #415c71;
  }
  .box_style {
    background: #f9f9f9;
    border: 1px solid #f3f3f3;
    padding: 5px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
  }
  .group-title {
    padding: 10px 0;
    .group-title-container {
      padding: 0;
    }
  }
}

#unified-footer-logo {
  a {
    @include mq(medium) {
      margin-right: 5px !important;
    }
  }
}

.submit {
  padding: 20px;
  input[type="submit"] {
    border: 0;
  }
}

.headlines {
  color: #415c71;
  h2 {
    margin-bottom: 20px;
  }
}

.input-group {
  width: 100%;
}
