//Unified Header and Footer
//-------------------------

//== Variables
$vm-purple-secondary: #3c3542;
$vm-border-colour: $vm-purple-secondary;

#unified-header #unified-header-level-one .level-one-sublinks-dropdown-subsection li a {
  @include mq(medium) {
    padding: 5px 0;
  }
}

#unified-header .unified-header-level-one-sublinks {
  @include mq(medium) {
    margin-top: 35px;
  }
}

#unified-header .unified-header-level-one-sublinks-two {
  @include mq(medium) {
    top: 0px;
    padding: 0;
    margin: 0;
  }
}

//== Style
#unified-header {
  height: 98px;
  /* overflow:hidden; */

  a, a:hover {
    font-weight: normal;
  }
  #global #global-header {
    width: 100%;
    max-width: 1200px;
  }
}

#unified-footer {
  width: 100%;
  max-width: 1200px;
}

#unified-footer-outer {
  box-sizing: content-box;

  a, a:hover {
    font-weight: normal;
  }
}

.accordion-heading, .visible-mobile {
  display: none;
}

.unified-header-level-one-sublinks-two {
  margin-right: 5px;
}

//== Media queries
//----------------
//
// desktop

@media (min-width: $min-destop) {
  #unified-header {
    .unified-header-level-one-sublinks {
      height: auto !important;
    }
  }
}

@media (max-width: 1000px) {
  #unified-footer {
    width: 100%;
    background: $vm-purple;

    #unified-footer-primary {
      width: 100%;
      float: none;
      padding-top: 15px;
      border-top: 1px solid $vm-border-colour;
    }
    #unified-footer-logo {
      width: 100%;
      clear: left;
      padding: 15px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-top: 1px solid $vm-border-colour;

      p {
        left: 80px;
        margin-top: 3px;
        position: absolute;
        width: auto;
      }
      a {
        float: none;
      }
    }
    li {
      padding: 10px 0;
      width: 50%;
    }
  }

  #unified-footer-outer {
    padding: 0;
    min-width: 100%;
  }
}

/* tablet and below */

@media (max-width: $max-tablet) {
  #unified-header {
    height: auto;
    overflow: hidden;

    li:hover #login-content {
      /* hides signin dropdown */
      display: none;
    }

    #global {
      min-width: 100%;

      #global-header {
        height: auto;
        width: auto;
      }
    }
    #unified-header-level-one {
      #tablet-and-mobile-signin.show-signin {
        display: block;
        padding-top: 20px;
        h2 {
          padding-bottom: 10px;
        }
        > div {
          padding-bottom: 10px;
        }
      }
      .utilities {
        background: $vm-purple;

        & > li {
          background: none;
        }

      }
      li {
        &#toggle-login-content a {
          padding: 10px;

          &.active-mobile {
            color: $vm-red;
          }
        }
        a {
          padding: 10px;

          &.active {
            background: none;
            color: $vm-red;
          }
        }
      }
    }
    .unified-header-level-one-sublinks-two {
      position: absolute;
      top: 0;
      left: 50px;
      display: block;
    }
    .unified-header-level-one-sublinks {
      right: 0px;
      width: 100%;
      padding: 0 14px;
      min-height: 1px;
      display: none;
      margin: 0;

      .not-visible-mobile {
        display: none;
      }
      .toggle-level-one-sublinks-dropdown {
        float: left;
        width: 50%;
        padding: 0 0 14px;

        & > a {
          padding: 0;

          strong {
            padding: 5px 14px 5px 0;
            width: 90%;
            font-size: 13px;
          }
        }
        .arrow-icon {
          float: right;
          padding: 5px 14px 5px 0;
          width: 10%;
          text-align: right;
        }
      }
    }
    .unified-header-level-one-links {
      clear: both;
      margin: 0;
      padding-top: 8px;
      height: auto;

      li {
        width: 16.66%;
        border-top: 1px solid $vm-border-colour;
        border-bottom: 1px solid $vm-border-colour;

        a {
          width: 100%;
          display: block;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
    }
    h1#vm-logo a {
      background-position: 0 -66px;
      position: relative;
      top: 5px;
      left: 14px;
      height: 56px;
    }
    .accordion-heading {
      border-bottom: 1px solid $vm-border-colour;
      display: block;
      padding: 0;

      h3 {
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 7px;
        color: $vm-red;
        font-weight: bold;
      }
    }
    .visible-mobile {
      display: block;
    }
    .level-one-sublinks-dropdown {
      display: block;
      width: 100%;
      right: 0;
      top: 0;
      left: 100%;

      &.show-dropdown {
        left: 0;
      }
      &, &.show-dropdown {
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
      }
      .level-one-sublinks-dropdown-subsection {
        padding: 0;
        right: 0;

        ul {
          border-bottom: 1px solid $vm-border-colour;
          margin: 0 0 10px;
          padding: 0 0 10px;

          &:last-child {
            margin: 0;
          }
        }
        li {
          padding: 0 0 14px;

          a {
            padding: 10px 14px !important;
            height: 40px;
          }
        }

      }
      .mega-dropdown-snippet h2 {
        padding: 10px 14px;
        margin: 0;

        &:first-child {
          border-bottom: 1px solid #3C3542;
          font-weight: 500;
          cursor: pointer;
        }
        & i {
          color: $vm-red;
          padding-right: 5px;
        }
      }
    }
  }
  .logged-in .fa-angle-down,
  .logged-out .fa-angle-down {
    display: none;
  }
  .desktop-only-title {
    display: none;
  }

  // Persisting style fix
  #unified-header #unified-header-level-one .unified-header-level-one-sublinks li a {
    padding: 0;
  }
}

// Additional break point for logo image
@media (max-width: 767px) {
  #unified-header {
    h1#vm-logo {
      height: 45px;

      a {
        background-position: 0 bottom;
        top: 3px;
        height: 36px;
      }
    }
    #unified-header-level-one .unified-header-level-one-links li a {
      padding: 10px 2px;
    }

    #global #global-header {
      padding: 0;
    }
  }
}

// Mobile only view
@media (max-width: $max-mobile) {
  #unified-header {
    #global #global-header {
      padding: 15px 0 0;
    }
    h1#vm-logo a {
      background-position: 0 bottom;
      position: relative;
      top: -5px;
      height: 34px;
    }
    #unified-header-level-one {
      padding-bottom: 0;

      li {
        a {
          background: none;
          text-align: left;
          border: 0;
          padding: 10px 5px;
        }
      }
      .utilities {
        float: right;
        background: #322332;
        li {
          width: auto;
          font-size: 10px;
        }
      }
      .unified-header-level-one-links {
        display: none;
        border-top: 1px solid #444;
        padding: 0;
        margin-bottom: 20px;

        li {
          width: 100%;
          border: none;

          &.li-last-child-radius {
            border-bottom: 1px solid $vm-border-colour;
            margin-bottom: 10px;
            padding-bottom: 10px;
          }
          a {
            padding: 14px;
            background: none;
            vertical-align: middle;
            text-align: left;

            i.fa {
              font-size: 17px;
              float: right;
            }
          }
        }
      }
    }
    .unified-header-level-one-sublinks,
    .unified-header-level-one-sublinks-two {
      display: none;
    }
    .not-visible-mobile {
      display: none;
    }
    .only-visible-mobile {
      display: block;
    }
    .accordion-heading {
      padding: 10px 0;
      border-top: 1px solid #444;
      border-bottom: 1px solid #444;
      clear: both;
    }
    .basket {
      display: none;
    }
  }
}