<!DOCTYPE html>
<html lang="en" ng-app="moodMatrix">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../libs/angular.min.js"></script>
    <script src="../../libs/bootstrap/bootstrap.js"></script>

    <script src="../public/js/boots/baseBoot.js"></script>
    <script src="../public/js/controller/controller.js"></script>
    <script src="../public/js/directive/businessdecoratorDirective.js"></script>
    <style>
        .highlight {
            color: red;
        }
    </style>
</head>
<body class="container" ng-controller="usrtileCtrl">
    <user-tile user="user1">

    </user-tile>
</body>
</html>