
/* Global ------------------------------------------------------ */

html {
    height: 100%;
}

body {
	background: #999999; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #999999 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#999999), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #999999 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #999999 0%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #999999 0%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #999999 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin: 0 auto;
	width: 100%;
	min-width: 220px;
	height: 100%;
    -moz-text-shadow: 0 -1px 0 #000;
    -webkit-text-shadow: 0 -1px 0 #000;
    text-shadow: 0 -1px 0 #000;
    font: 13px/1.4 'helvetica neue', 'helvetica-neue', helvetica, arial, sans-serif;
}

header div {
    clear: both;
    width: 940px;
    max-width:100%;
    margin: 0 auto;
}

h1, h2 {
    margin: 0;
    color: #eee;
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}

h1 {
    font-size: 60px;
    margin: 0 20px;
}

h2 {
    font-size: 18px;
}

::selection {background: #555; color: #fff; }
::-moz-selection{background: #555; color: #fff; }
::-webkit-selection{background: #555; color: #fff; }


/* Container ------------------------------------------------------ */
#container {
	width:400px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-120px 0 0 -180px;

}

.timerFrame {
	height: 130px;
}

.controlFrame{
	margin: 0 20px;
}

.hours, .minutes, .seconds {
	margin: 20px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
}

.hourLabel, .minuteLabel, .secondLabel {
	font-size: 20px;
	height: 40px;
	color: #ffffff;
}
.hoursCount > p, .minutesCount > p, .secondsCount > p , .count > p {
	color: rgb(28, 14, 0);
	font-size: 60px;
	margin-top: -2px;
}

.count .digit {
	width: 65px;
	z-index:-3;
}

.digit {
    background: #ffffff;
    color: #007AFF;
    display: inline-block;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-shadow: 0 3px 3px #000000;
    *display: inline;
    *zoom: 1;
    border: 1px solid #555;
    border-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: absolute;
}

.number1{
  left: 0px;
}
.number2 {
  left: 70px;
}
.number3 {
  left: 140px;
}

/* front pane, placed above back */
.number1, .number2, .number3{
  z-index: 2;
}

.opacity{
	opacity:0.7;
}

.flipup {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-perspective: 600;
  -moz-perspective: 600;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transform-origin: 170px 0;
  -moz-transform-origin: 170px 0;
}

@-webkit-keyframes flip1{

		0% {
		  -webkit-transform: rotateX(0deg) translateY(0px) translateZ(2px);
		  -moz-transform: rotateX(0deg) translateY(0px) translateZ(2px);
		  -o-transform: rotateX(0deg) translateY(0px) translateZ(2px);
		  -ms-transform: rotateX(0deg) translateY(0px) translateZ(2px);
        }	
		33% {
		  -webkit-transform: rotateX(180deg) translateY(0px) translateZ(2px);
		  -moz-transform: rotateX(180deg) translateY(0px) translateZ(2px);
		  -o-transform: rotateX(180deg) translateY(0px) translateZ(2px);
		  -ms-transform: rotateX(180deg) translateY(0px) translateZ(2px);		}  
        67% {
		  -webkit-transform: rotateX(90deg) translateY(0px) translateX(2px);
		  -moz-transform: rotateX(90deg) translateY(0px) translateZ(2px);
		  -o-transform: rotateX(90deg) translateY(0px) translateZ(2px);
		  -ms-transform: rotateX(90deg) translateY(0px) translateZ(2px);
	    }
		100% {
		  -webkit-transform: rotateX(90deg) translateY(0px) translateZ(2px);
		  -webkit-transform: rotateX(90deg) translateY(0px) translateX(2px);
		  -moz-transform: rotateX(90deg) translateY(0px) translateZ(2px);
		  -o-transform: rotateX(90deg) translateY(0px) translateZ(2px);
		  -ms-transform: rotateX(90deg) translateY(0px) translateZ(2px);
		}


}


/* Button ------------------------------------------------------ */

.startButton, .resetButton {
    float:left;
    margin-right:20px;
	background-color:#ba2323;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    border: solid 1px #831212;
    background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
    border-radius: 5px;
    cursor: pointer;
	width: 72px;
	text-align: center;
}

.startLabel, .resetLabel {
	font-weight: bold;
	color: #ffffff;
}


/* Mobile ------------------------------------------------------ */

@media only screen and (max-width: 480px) {

	body {
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%;
	    }

}








