.main-header {
  .main-nav {
	@include panel($header-mainnav, $purple);
	@include mq(small) {
	  height: 45px;
	}
	height: 82px;
	.main-nav-wrapper {
	  @extend %wrapper;
	  .uswitch-logo {
		@include mq(small) {
		  background-image: url("../images/logo-uswitch-mobile.png");
		  height: 37px;
		  width: 37px;
		  margin: 4px;
		}
		background-image: url("../images/logo-uswitch.png");
		background-repeat: no-repeat;
		float: left;
		height: 70px;
		width: 70px;
	  }
	  #uswitchNavButton {
		@include mq(small) {
		  display: block;
		  cursor: pointer;
		}
		display: none;
	  }
	  #mainUswitchNav {
		@include mq(small) {
		  display: none;
		  width: 100%;
		  padding-top: 0;
		  text-align: left;
		  .uswitch-search:after {
			@include mq(small) {
			  content: "Search";
			}
		  }
		}
		width: 90%;
		padding-top: 50px;
		float: right;
		li {
		  display: inline-block;
		  position: relative;
		  padding-bottom: 20px;
		  padding-left: 5%;
		  z-index: 10;
		  @include mq(large) {
			padding-left: 3%;
		  }
		  @include mq(medium) {
			padding-left: 2%;
		  }
		  @include mq(small) {
			display: block;
			background-color: $gray;
			padding: 10px;
			border-bottom: 1px solid $white;
		  }
		  a {
			@extend %nav-link;
			color: $purple;
			@include mq(small) {
			  color: $white;
			}
		  }
		  a.active:after {
			position: absolute;
			color: $magenta;
			right: 25%;
			height: 100%;
			margin-top: 20px;
		  }
		  a:hover {
			text-decoration: underline;
		  }
		}
	  }
	}
  }

  .sub-nav {
	@include mq(small) {
	  display: none;
	}
	display: block;
	@include panel($header-subnav, $pink);
	text-align: right;
	height: 48px;
	.sub-nav-wrapper {
	  @extend %wrapper;
	  > ul {
		li {
		  position: relative;
		  padding-left: 5%;
		  @include mq(large) {
			padding-left: 3%;
		  }
		  @include mq(medium) {
			padding-left: 2%;
		  }
		  a {
			@extend %nav-link;
			color: $pink;
			line-height: 36px;
		  }
		  a.active:after {
			color: $blue;
			right: 25%;
			height: 100%;
			margin-top: 20px;
		  }
		  a:hover {
			text-decoration: underline;
		  }
		}
	  }
	}
  }
}
