.main-header {
  .main-nav {
	@include panel($header-mainnav, $purple);
	height: 82px;
	.main-nav-wrapper {
	  @extend %wrapper;
	  .uswitch-logo {
		background-image: url("../images/logo-uswitch.png");
		background-repeat: no-repeat;
		float: left;
		height: 70px;
		width: 70px;
//		transform: scale3d(1,1,1);

	    }
	  > ul {
		display: table;
		width: 92%;
		padding-top: 50px;
		text-align: right;
		li {
		  display: table-cell;
		  position: relative;
		  padding-bottom: 20px;
		  a {
			@extend %nav-link;
			color: $purple;
		  }
		  a.active:after {
			color: $magenta;
			bottom: 2px;
			right: 27%;
		  }
		}
	  }
	}
  }

  .sub-nav {
	@include panel($header-subnav, $pink);
	text-align: right;
	height: 48px;
	.sub-nav-wrapper {
	  @extend %wrapper;
	  ul {
		li {
		  position: relative;
		  a {
			@extend %nav-link;
			color: $pink;
			line-height: 45px;
		  }
		  a.active:after {
			color: $blue;
			bottom: -22px;
			right: 27%;
		  }
		}
	  }
	}
  }
}
