@import "compass/css3";
@import "../partials/sprites";

.main-content {
  @include panel($white, $gray);
  .main-content-head, .main-content-body {
	.content-wrapper {
	  padding: 30px 0;
	  @extend %wrapper;
	  display: table;
	  .content-icon {
		width: 90px;
		display: table-cell;
		span {
		  font-size: 36px;
		  @include mq(tablet) {
			margin-left: 25px;
		  }
		}
	  }
	  .content-body {
		vertical-align: top;
		display: table-cell;
		text-align: left;
		h2 {
		  font-weight: normal;
		  font-size: 18px;
		  padding: 10px 0;
		}
	  }
	}
  }
  .main-content-head {
	color: $white;
	background-color: $blue;
	.description {
	  margin: 15px 0;
	  a {
		text-decoration: underline;
		color: $white;
	  }
	}
  }
  .main-content-body {
	background-color: $white;
	color: $blue;

	#energyDeals {
	  border-bottom: 1px solid $gray-lightest;
	  .energy-deals {
		p, a, span {
		  color: $blue;
		}

		li {
		  width: 160px;
		  padding: 10px 20px;
		  vertical-align: top;
		  text-align: center;
		  .logo {
			display: block;
			height: 75px;
			span {
			  display: block;
			  margin: 0 auto;
			}
			.british {
			  background: sprite($commonSprites, logo-british) no-repeat;
			  width: commonSprites-sprite-width(logo-british);
			  height: commonSprites-sprite-height(logo-british);
			}
			.edf {
			  background: sprite($commonSprites, logo-edf) no-repeat;
			  width: commonSprites-sprite-width(logo-edf);
			  height: commonSprites-sprite-height(logo-edf);
			}
			.scotish {
			  background: sprite($commonSprites, logo-scotish) no-repeat;
			  width: commonSprites-sprite-width(logo-scotish);
			  height: commonSprites-sprite-height(logo-scotish);
			}
			.npower {
			  background: sprite($commonSprites, logo-npower) no-repeat;
			  width: commonSprites-sprite-width(logo-npower);
			  height: commonSprites-sprite-height(logo-npower);
			}
			.eon {
			  background: sprite($commonSprites, logo-eon) no-repeat;
			  width: commonSprites-sprite-width(logo-eon);
			  height: commonSprites-sprite-height(logo-eon);
			}
		  }

		  .award {
			height: 50px;
			color: $gray-light;
			padding: 5px;
		  }
		  .price {
			span {
			  line-height: 30px;
			  font-size: 28px;
			  font-weight: bold;
			}
		  }
		}
	  }
	}

	.content-body {
	  p, a, span {
		color: $gray-light;
		padding: 10px 0;
	  }
	  span {
		font-size: 18px;
		padding-right: 4px;
	  }
	  a {
		text-decoration: underline;
	  }

	}

	#energyUsage {
	  color: $gray-light;
	  border-bottom: 1px solid $gray-light;

	  li {
		padding: 10px 20px;
		vertical-align: top;
		@include mq(tablet) {
		  display: block;
		  margin-bottom: 10px;
		}
		p {
		  padding: 0px;
		  font-weight: bold;
		}
		.plan-name {
		  line-height: 36px;
		  font-weight: normal;
		}

		.price-tag {
		  line-height: 36px;
		  font-size: 26px;
		}
	  }
	  .provider-logo {
		padding: 0;
		.edf-big {
		  display: block;
		  background: sprite($commonSprites, logo-edf-big) no-repeat;
		  width: commonSprites-sprite-width(logo-edf-big);
		  height: commonSprites-sprite-height(logo-edf-big);
		  @include mq(tablet) {
			margin: 0 auto;
		  }
		}
	  }
	}

	#energyCurrentProvider {
	  .content-body {
		p, a, span {
		  color: $gray-light;
		  padding: 10px 0;
		}
		a {
		  text-decoration: underline;
		}
		span {
		  padding-right: 10px;
		}
	  }
	}
  }

  article {
	background-color: $gray-lightest;

	.block-indent {
	  padding-left: 100px;
	  @include mq(tablet) {
		padding: 0;
	  }
	}

	.notify {
	  color: $warningText;
	}
  }
}