dist
.tmp
.sass-cache
dataChart
stop watch
search
node_modules
node_modules_old
test

williamslea/Samples_williamslea
.idea
williamslea/williamslea_*.zip
williamslea/WL Document Management - Wireframes v13.pdf
williamslea/williamslea_v*