//
// Mixins
// --------------------------------------------------

// Responsive Breakpoint
// --------------------------------------------------

@mixin mq($size, $direction: max-width, $media-type: only all) {
  @if $size == mobile  {
	@media #{$media-type} and (#{$direction}: $mq-mobile) {
	  @content;
	}
  } @else if $size == small {
	@media #{$media-type} and (#{$direction}: $mq-small) {
	  @content;
	}
  } @else if $size == medium  {
	@media #{$media-type} and (#{$direction}: $mq-medium) {
	  @content;
	}
  } @else if $size == large  {
	@media #{$media-type} and (#{$direction}: $mq-large) {
	  @content;
	}
  } @else if $size == widescreen  {
	@media #{$media-type} and (#{$direction}: $mq-widescreen) {
	  @content;
	}
  } @else {
	@media #{$media-type} and (#{$direction}: $size) {
	  @content;
	}
  }
}

// UTILITY MIXINS
// --------------------------------------------------
@mixin panel($bgcolor, $color) {
  background-color: $bgcolor;
  color: $color;
}


// Set a rem font size with pixel fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}