@import "compass/css3";

// UTILITY PLACEHOLDER & MIXINS
%wrapper {
  width: 942px;
  margin: 0 auto;
  @include mq(desktop) {
	width: 95%;
  }
  @include mq(small) {
	width: 100%;
  }
}

.hideNav {
  display: table !important;
  @include mq(desktop) {
	display: table;
  }
  @include mq(small) {
	display: none;
  }
}

%nav-link {
  @include font-size(16px);
  font-weight: bold;
}

%font-entypo {
  font-family: $font-entypo;
}

.uswitch-btn {
  background-color: $btn-bgcolor;
  border: none;
  @include border-radius(5px);
  color: $white;
  padding: 12px 35px 12px 18px;
  @include box-shadow(0 6px $btn-bgcolor-shadow);
}

.basic-btn {
  padding: 7px 36px 7px 16px;
  border: none;
  background-color: #ececec;
  @include border-radius(5px);
  zoom: 1;
}

.active:after {
  @extend %font-entypo;
  content: "\25B4";
  position: absolute;
  @include font-size(16px);
  @include mq(small) {
	display: none;
  }
}

.uswitch-search:after {
  @extend %font-entypo;
  content: "\1F50D";
}

.uswitch-btn:after, .basic-btn:after {
  @extend %font-entypo;
  content: "\25B8";
  position: absolute;
  @include font-size(16px);
  padding-left: 10px;
}

#uswitchNavButton:after {
  content: "\2630";
  position: absolute;
  right: 5px;
  @include font-size(30px);
}