// UTILITY MIXINS
// --------------------------------------------------


// Responsive Breakpoint
// --------------------------------------------------

@mixin mq($size, $direction: min-width, $media-type: only all) {
  @if $size == tiny  {
	@media #{$media-type} and (#{$direction}: $mq-tiny) {
	  @content;
	}
  } @else if $size == small {
	@media #{$media-type} and (#{$direction}: $mq-small) {
	  @content;
	}
  } @else if $size == medium {
	@media #{$media-type} and (#{$direction}: $mq-medium) {
	  @content;
	}
  } @else if $size == desktop {
    @media #{$media-type} and (#{$direction}: $mq-desktop) {
      @content;
    }
  } @else if $size == large  {
	@media #{$media-type} and (#{$direction}: $mq-large) {
	  @content;
	}
  } @else {
	@media #{$media-type} and (#{$direction}: $size) {
	  @content;
	}
  }
}

@mixin mqmax($size, $direction: max-width, $media-type: only all) {
  @if $size == tiny  {
	@media #{$media-type} and (#{$direction}: $mq-tiny) {
	  @content;
	}
  } @else if $size == small {
	@media #{$media-type} and (#{$direction}: $mq-small) {
	  @content;
	}
  } @else if $size == medium {
	@media #{$media-type} and (#{$direction}: $mq-medium) {
	  @content;
	}
  } @else if $size == large  {
	@media #{$media-type} and (#{$direction}: $mq-large) {
	  @content;
	}
  } @else {
	@media #{$media-type} and (#{$direction}: $size) {
	  @content;
	}
  }
}


// Sizing shortcuts
// -------------------------
@mixin size($height, $width) {
    width: $width;
    height: $height;
}



// Placeholders
%margin-bottom {
  @include mq(tiny) {
    margin-bottom: 20px;
  }
  @include mq(large) {
    margin-bottom: 30px;
  }
}

%margin-top {
  @include mq(tiny) {
    margin-top: 20px;
  }
  @include mq(large) {
    margin-top: 30px;
  }
}

%margin-left {
  @include mq(tiny) {
    margin-left: 20px;
  }
  @include mq(large) {
    margin-left: 30px;
  }
}

%margin-right {
  @include mq(tiny) {
    margin-right: 20px;
  }
  @include mq(large) {
    margin-right: 30px;
  }
}

%separator {
  border-bottom: 2px solid #4a4351;
  border-bottom-style: ridge;
}
