#sidebar-wrapper {
  z-index: 1000;
  position: relative;
  padding: 0;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav .nav-subsection {
  padding-left: 20px;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #999999;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav .active {
  background-color: #cccccc;
}
