html,
body {
  background-color: #999999;
}
@media (min-width: 768px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.has-feedback .form-control {
  padding-right: 5px;
  font-size: 12px;
}
/* Account for fixed navbar */
body {
  min-width: 970px;
}
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
.padding12 {
  padding: 12px;
}
#branding {
  margin: 0;
}
.branding-page-content-wrapper {
  height: 700px !important;
}
.container {
  background-color: #ffffff;
  padding: 0;
  height: 830px;
  max-width: none !important;
}
.container #page-content-wrapper {
  padding: 0;
  border-left: 1px solid #ccc;
  height: 750px;
}
.container #page-content-wrapper .document_subheading,
.container #page-content-wrapper h3 {
  margin-left: 10px;
}
.container #page-content-wrapper .label-close {
  padding: 10px;
  margin: 10px;
}
.container #page-content-wrapper .label-close .close {
  line-height: 15px;
}
.container #page-content-wrapper .no-result {
  text-align: center;
}
.container #page-content-wrapper .no-result a {
  color: #cccccc;
  text-decoration: underline ;
}
.container #page-content-wrapper #document_wrapper {
  margin: 10px;
}
.container #page-content-wrapper #document_wrapper .page-number {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}
.container .col-md-2,
.container .col-md-10 {
  float: left;
}
.container .col-md-2 {
  width: 195px;
}
.container .col-md-10 {
  width: 975px;
}
.container .fill {
  padding: 10px;
}
.container .table {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  width: 100%;
}
.container .table .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.container .table input[type=checkbox] {
  position: relative;
  margin-left: 0;
}
.container .table .document_name {
  width: 280px;
}
.container .table .document_created {
  width: 170px;
}
.container .table .document_updated {
  width: 170px;
}
.container .table .document_status {
  width: 180px;
}
.container .table .document_approve0 {
  width: 30px;
}
.container .table .document_approve_name {
  width: 200px;
}
.container .table .document_approve_composer {
  width: 145px;
}
.container .table .document_approve_submitted {
  width: 145px;
}
.container .table .document_approve_department {
  width: 145px;
}
.container .table .document_approve_status {
  width: 145px;
}
.container .table .three_column0 {
  width: 30px;
}
.container .table .three_column1 {
  width: 200px;
}
.container .table .three_column2 {
  width: 500px;
}
.container .table .three_column3 {
  width: 200px;
}
.container .table .six_column0 {
  width: 30px;
}
.container .table .six_column1 {
  width: 170px;
}
.container .table .six_column2 {
  width: 130px;
}
.container .table .six_column3 {
  width: 170px;
}
.container .table .six_column4 {
  width: 110px;
}
.container .table .six_column5 {
  width: 110px;
}
.container .table .six_column6 {
  width: 100px;
}
.container .table .doc-title {
  cursor: pointer;
}
.container .table thead {
  background-color: #f3f3f3;
}
.container .table thead tr th {
  border-bottom: 0;
}
.container .table tbody tr td i,
.container .table thead tr th i,
.container .table tfoot tr th i {
  font-size: 75%;
  margin-left: 10px;
  color: #666;
}
.container .table tbody tr td .doc-info,
.container .table thead tr th .doc-info,
.container .table tfoot tr th .doc-info {
  display: block;
  font-size: 12px;
  color: #999;
}
.container .table tbody tr td .user-info,
.container .table thead tr th .user-info,
.container .table tfoot tr th .user-info {
  font-size: 12px;
  color: #999;
}
.container .table tbody tr td .label,
.container .table thead tr th .label,
.container .table tfoot tr th .label {
  font-size: 100%;
}
.container table.dataTable thead .sorting,
.container table.dataTable thead .sorting_asc,
.container table.dataTable thead .sorting_desc,
.container table.dataTable thead .sorting_asc_disabled,
.container table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
}
.container table.dataTable thead .sorting {
  background: url('../../../images/sort_both.png') no-repeat center right;
}
.container table.dataTable thead .sorting_asc {
  background: url('../../../images/sort_asc.png') no-repeat center right;
}
.container table.dataTable thead .sorting_desc {
  background: url('../../../images/sort_desc.png') no-repeat center right;
}
.container table.dataTable thead .sorting_asc_disabled {
  background: url('../../../images/sort_asc_disabled.png') no-repeat center right;
}
.container table.dataTable thead .sorting_desc_disabled {
  background: url('../../../images/sort_desc_disabled.png') no-repeat center right;
}
.container div.dataTables_paginate {
  float: right;
  margin: 0;
}
.container div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}
.container .document_search {
  margin-bottom: 30px;
}
.container .document_search input[type="search"] {
  width: 250px !important;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.container #myNavbar {
  margin-bottom: 0;
}
.container #myNavbar .dropdown {
  margin: 10px;
}
.container .panel-container .panel {
  width: 400px;
  margin: 0 auto;
}
.container .panel-container .forget-pwd {
  display: block;
  clear: both;
  margin-top: 10px;
}
.container .panel-container p strong {
  color: #003366;
}
#validateForm .form-control-feedback {
  right: 10px;
}
#createEdit h4 {
  margin-top: 0;
}
#popover-content {
  display: none;
}
.modal {
  z-index: 1061;
}
.modal .user-id-label {
  width: 40px;
}
#radioBtn .notActive {
  color: #3276b1;
  background-color: #fff;
}
#editUser .modal-dialog,
#createUser .modal-dialog {
  width: 900px;
}
#editUser .credential,
#createUser .credential {
  padding-left: 6px;
}
#editUser .credential input[type="checkbox"],
#createUser .credential input[type="checkbox"] {
  margin-left: 0;
}
#editUser .signature-label,
#createUser .signature-label {
  margin-top: 20px;
}
#editUser .signature-label label,
#createUser .signature-label label {
  text-align: left;
  padding: 0;
}
#editUser .signature-label input[type="file"],
#createUser .signature-label input[type="file"] {
  margin-left: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
#createEdit .modal-dialog {
  width: 900px;
}
#createEdit .selectContainer .form-control-feedback {
  /* Adjust feedback icon position */
  right: -15px;
}
.checkbox {
  font-weight: normal;
}
.checkbox input[type="checkbox"] {
  margin-right: 5px;
}
.checkbox .doc-info {
  margin-left: 22px;
}
.approval-section .col-xs-7,
.approval-section .col-xs-5 {
  float: none;
  display: table-cell;
}
.approval-section .col-xs-5 {
  border-left: 1px solid #ccc;
}
.approval-section .col-xs-5 h4 {
  margin-bottom: 30px;
}
.approval-section .col-xs-5 textarea {
  width: 350px;
}
.approval-section .col-xs-5 .form-group {
  margin: 30px;
  float: right;
}
.dropdown {
  display: inline-block;
}
.dropdown .dropdown-menu {
  width: 200px;
  padding: 0;
  padding-bottom: 10px;
}
.dropdown .dropdown-selectbox {
  width: 300px;
  margin-left: 15px;
  padding: 0px 0px 10px 25px;
}
.dropdown .status {
  padding: 10px 0 0 10px;
}
.dropdown .status label {
  margin: 0;
}
.dropdown li {
  padding: 0 10px;
}
.dropdown a {
  color: #333333;
}
.dropdown li > a:hover,
.dropdown li > a:focus {
  background-color: transparent;
}
.dropdown .filter-head {
  background-color: #cccccc;
  line-height: 35px;
}
.dropdown .filter-head-link {
  text-decoration: underline;
  padding: 0;
  line-height: 35px;
}
.dropdown .filter-content span {
  color: #cccccc;
}
.dropdown ul.dropdown-filter:before {
  content: "";
  border-bottom: 10px solid #ccc;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 3px;
  z-index: 10;
}
.dropdown ul.dropdown-filter:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  left: 1px;
  z-index: 9;
}
#validateForm .tooltip-inner,
#userForm .tooltip-inner,
#createUserForm .tooltip-inner {
  max-width: 270px;
  width: 270px;
}
#validateForm .tooltip-inner ul,
#userForm .tooltip-inner ul,
#createUserForm .tooltip-inner ul {
  text-align: left !important;
  padding: 0 10px;
}
.multiselect-container {
  width: 400px;
}
.multiselect-container label {
  float: left;
  width: 250px;
}
.multiselect-container .multiselect-textbox {
  width: 100px;
}
