body {
  height: 100%;
}
#myNavbar {
  margin-bottom: 0;
}
#myNavbar .dropdown {
  margin: 10px;
}
.panel-container .panel {
  width: 400px;
  margin: 0 auto;
}
.panel-container .forget-pwd {
  display: block;
  clear: both;
  margin-top: 10px;
}
.panel-container p strong {
  color: #003366;
}
#validateForm .form-control-feedback {
  right: 10px;
}
.table tbody tr td .doc-info,
.table thead tr th .doc-info,
.table tfoot tr th .doc-info {
  display: block;
  font-size: 12px;
  color: #999;
}
.table tbody tr td span,
.table thead tr th span,
.table tfoot tr th span {
  color: #fff;
}
