body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    width: 970px !important;
}

.col-md-12 .panel {
    width: 450px;
    margin: 0 auto;
}

.forget-pwd {
    display: block;
    clear: both;
    margin-top: 10px;
}