<!DOCTYPE html>
<html lang="en" ng-app="vmTvaHome">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../../libs/angular.min.js"></script>
    <script src="../public/js/boots/baseBoot.js"></script>
    <script src="../public/js/controller/moodMatrixController.js"></script>
</head>
<body>
    <div ng-controller="heroCarouselCtrl">

    </div>
    <div ng-controller="moodCtrl">
        {{ test }}
    </div>
</body>
</html>