<div class="panel panel-primary">
    <div class="panel-heading" ng-click="collapse()">{{ user.name }}</div>
    <div class="panel-body" ng-hide="collapsed">

        <address></address>

        <h4 ng-show='!!user.friends'>Friends </h4>
        <ul ng-repeat='friend in user.friends'>
            <li>{{ friend }}</li>
            <remove-friend method="removeFriend(friend)"></remove-friend>
        </ul>
        <div ng-show="!!user.rank">
            Rank : {{user.rank}}
        </div>
        <button ng-show="!user.rank" class="btn btn-success" ng-click="knightMe(user)">Knight Me</button>
    </div>

</div>
