#sidebar-wrapper {
  z-index: 1000;
  position: relative;
  padding: 0;
//  min-width: 200px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-subsection {
//    list-style: none;
    padding-left: 20px;
  }
  .sidebar-filter {
    position: relative;
    top: 100%;
    left: 0px;
    float: left;
    width: 100%;
    padding: 5px 0px;
    margin: 40px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: none outside none;
    background-color: #FFF;
    background-clip: padding-box;
    li {
      line-height: 20px;
      padding: 0px;
    }
    .status {
      padding: 10px 0px 0px 0px;
      label {
        display: block;
      }
    }
    .filter-head {
      background-color: #cccccc;
      line-height: 35px;
    }
    .filter-head-link {
      text-decoration: underline;
      padding: 0;
      line-height: 35px;
      margin-right: 10px;
    }
    .filter-content {
      .checkbox {
        display: block;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
      }
      input[type=checkbox] {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        margin: -3px 8px 0px 0px;
      }
      span {
        color: #cccccc;
      }
    }
    .divider {
      height: 1px;
      margin: 9px 0px;
      overflow: hidden;
      background-color: #E5E5E5;
    }
  }
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
//  color: #999999;
}


.sidebar-nav li a:hover {
  text-decoration: none;
  color: #999999;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav .active {
  background-color: #cccccc;
}
