html, body {
//  height: 100%;
  background-color: #999999;
}

.container {
  background-color: #ffffff;
  padding: 0;
  width: 1170px;
  height: 830px;
  #page-content-wrapper {
    padding: 0;
    border-left: 1px solid #ccc;
    .document_subheading, h3 {
      margin-left: 10px;
    }
    .label-close {
      padding: 10px;
      margin: 10px;
      .close {
        line-height: 15px;
      }
    }
    #document_wrapper {
      margin: 10px;
    }
  }
  .col-md-2, .col-md-10 {
    float: left;
  }
  .col-md-2 {
    width: 195px;
  }
  .col-md-10 {
    width: 975px;
  }
  .fill{
//    width:100%;
    height:100%;
    min-height:100%;
    padding:10px;
  }
  .table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    width: 100%;
    .document_name {
      width: 280px;
    }
    .document_created {
      width: 170px;
    }
    .document_updated {
      width: 170px;
    }
    .document_status {
      width: 180px;
    }
    .doc-title {
      cursor: pointer;
    }
    thead {
      background-color: #f3f3f3;
      tr th {
        border-bottom: 0;
      }
    }
    tbody tr td, thead tr th, tfoot tr th {
      //    padding: 5px;
      i {
        font-size: 75%;
        margin-left: 10px;
        color: #666;
      }
      .doc-info {
        display: block;
        font-size: 12px;
        color: #999;
      }
      .label {
        font-size: 100%;
      }
    }
  }

  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
  }

  table.dataTable thead .sorting {
    background: url('../../../images/sort_both.png') no-repeat center right;
  }
  table.dataTable thead .sorting_asc {
    background: url('../../../images/sort_asc.png') no-repeat center right;
  }
  table.dataTable thead .sorting_desc {
    background: url('../../../images/sort_desc.png') no-repeat center right;
  }
  table.dataTable thead .sorting_asc_disabled {
    background: url('../../../images/sort_asc_disabled.png') no-repeat center right;
  }
  table.dataTable thead .sorting_desc_disabled {
    background: url('../../../images/sort_desc_disabled.png') no-repeat center right;
  }

  div.dataTables_paginate {
    float: right;
    margin: 0;
  }
  div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
  }

  .document_search {
    margin-bottom: 30px;
    input[type="search"]{
      width: 250px !important;
    }
  }

  #myNavbar {
    margin-bottom: 0;
    .dropdown {
      margin: 10px;
    }
  }

  .panel-container {
    .panel {
      width: 400px;
      margin: 0 auto;
    }
    .forget-pwd {
      display: block;
      clear: both;
      margin-top: 10px;
    }
    p strong{
      color: #003366;
    }
  }

}


#validateForm .form-control-feedback {
  right: 10px;
}

#createDoc {
  h4 {
    margin-top: 0;
  }
}

#popover-content {
  display: none;
}

.modal {
  z-index: 1061;
  .user-id {
//    display: inline !important;
//    width: 70% !important;
//    float: right;
  }
  .user-id-label {
    width: 40px;
  }
}

#radioBtn .notActive{
  color: #3276b1;
  background-color: #fff;
}

#createDoc .modal-dialog  {width:900px;}

#createNewDoc .selectContainer .form-control-feedback {
  /* Adjust feedback icon position */
  right: -15px;
}