html, body {
//  height: 100%;
  background-color: #999999;
}
// responsiveness & overwriting default bootstrap.css
@media (min-width: 768px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.has-feedback .form-control {
  padding-right: 5px;
  font-size: 12px;
}

/* Account for fixed navbar */
body {
  min-width: 970px;
//  padding-top: 70px;
//  padding-bottom: 30px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


.container {
  background-color: #ffffff;
  padding: 0;
//  width: 1170px;
  height: 830px;
  max-width: none !important;
  #page-content-wrapper {
    padding: 0;
    border-left: 1px solid #ccc;
    height: 750px;
    .document_subheading, h3 {
      margin-left: 10px;
    }
    .label-close {
      padding: 10px;
      margin: 10px;
      .close {
        line-height: 15px;
      }
    }
    .no-result {
      text-align: center;
      a {
        color: #cccccc;
        text-decoration: underline ;
      }
    }
    #document_wrapper {
      margin: 10px;
      .page-number {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }
  .col-md-2, .col-md-10 {
    float: left;
  }
  .col-md-2 {
    width: 195px;
  }
  .col-md-10 {
    width: 975px;
  }
  .fill{
//    width:100%;
//    height:100%;
//    min-height:100%;
    padding:10px;
  }
  .table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    width: 100%;
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
    }

    input[type=checkbox] {
      position: relative;
      margin-left: 0;
    }
    .document_name {
      width: 280px;
    }
    .document_created {
      width: 170px;
    }
    .document_updated {
      width: 170px;
    }
    .document_status {
      width: 180px;
    }
    .document_approve0 {
      width: 30px;
    }
    .document_approve_name {
      width: 200px;
    }
    .document_approve_composer {
      width: 145px;
    }
    .document_approve_submitted {
      width: 145px;
    }
    .document_approve_department {
      width: 145px;
    }
    .document_approve_status {
      width: 145px;
    }
    .six_column0 {
      width: 30px;
    }
    .six_column1 {
      width: 170px;
    }
    .six_column2 {
      width: 130px;
    }
    .six_column3 {
      width: 170px;
    }
    .six_column4 {
      width: 110px;
    }
    .six_column5 {
      width: 110px;
    }
    .six_column6 {
      width: 100px;
    }
    .doc-title {
      cursor: pointer;
    }
    thead {
      background-color: #f3f3f3;
      tr th {
        border-bottom: 0;
      }
    }
    tbody tr td, thead tr th, tfoot tr th {
      //    padding: 5px;
      i {
        font-size: 75%;
        margin-left: 10px;
        color: #666;
      }
      .doc-info {
        display: block;
        font-size: 12px;
        color: #999;
      }
      .user-info {
        font-size: 12px;
        color: #999;
      }
      .label {
        font-size: 100%;
      }
    }
  }

  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
  }

  table.dataTable thead .sorting {
    background: url('../../../images/sort_both.png') no-repeat center right;
  }
  table.dataTable thead .sorting_asc {
    background: url('../../../images/sort_asc.png') no-repeat center right;
  }
  table.dataTable thead .sorting_desc {
    background: url('../../../images/sort_desc.png') no-repeat center right;
  }
  table.dataTable thead .sorting_asc_disabled {
    background: url('../../../images/sort_asc_disabled.png') no-repeat center right;
  }
  table.dataTable thead .sorting_desc_disabled {
    background: url('../../../images/sort_desc_disabled.png') no-repeat center right;
  }

  div.dataTables_paginate {
    float: right;
    margin: 0;
  }
  div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
  }

  .document_search {
    margin-bottom: 30px;
    input[type="search"]{
      width: 250px !important;
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }

  #myNavbar {
    margin-bottom: 0;
    .dropdown {
      margin: 10px;
    }
  }

  .panel-container {
    .panel {
      width: 400px;
      margin: 0 auto;
    }
    .forget-pwd {
      display: block;
      clear: both;
      margin-top: 10px;
    }
    p strong{
      color: #003366;
    }
  }

}


#validateForm .form-control-feedback {
  right: 10px;
}

#createEdit {
  h4 {
    margin-top: 0;
  }
}

#popover-content {
  display: none;
}

.modal {
  z-index: 1061;
  .user-id {
//    display: inline !important;
//    width: 70% !important;
//    float: right;
  }
  .user-id-label {
    width: 40px;
  }
}

#radioBtn .notActive{
  color: #3276b1;
  background-color: #fff;
}

#editUser .modal-dialog  {width:900px;}

#editUser {
  .credential  {
    input[type="checkbox"] {
      margin-left: 0;
    }
  }
  .signature-label {
    margin-top: 20px;
    label {
      text-align: left;
      padding: 0;
    }
    input[type="file"] {
      margin-left: 0;
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .signature-input {
//    padding-left: 0;
  }
}

#createEdit .modal-dialog  {width:900px;}

#createEdit .selectContainer .form-control-feedback {
  /* Adjust feedback icon position */
  right: -15px;
}

.checkbox {
 font-weight: normal;
  input[type="checkbox"] {
    margin-right: 5px;
  }
  .doc-info {
    margin-left: 22px;
  }
}

.approval-section {
  .col-xs-7, .col-xs-5 {
    float: none;
    display: table-cell;
  }
  .col-xs-5 {
    border-left: 1px solid #ccc;
    h4 {
      margin-bottom: 30px;
    }
    textarea {
      width:350px;
    }
    .form-group {
      margin: 30px;
      float: right;;
    }
  }
}

.dropdown {
  display: inline-block;
  .dropdown-menu {
    width: 200px;
    padding: 0;
    padding-bottom: 10px;
  }
  .dropdown-selectbox {
    width: 300px;
    margin-left: 15px;
    padding: 0px 0px 10px 25px;
  }
  .status {
    padding: 10px 0 0 10px;
    label {
      margin: 0;
    }
  }
  li {
    padding: 0 10px;
  }
  a {
    color: #333333;
  }
  li>a:hover, li>a:focus {
    background-color: transparent;
  }
  .filter-head {
    background-color: #cccccc;
    line-height: 35px;
  }
  .filter-head-link {
    text-decoration: underline;
    padding: 0;
//    margin-right: 10px;
    line-height: 35px;
  }
  .filter-content {
//    padding: 0 10px;
    span {
      color: #cccccc;
    }
  }
}
.dropdown ul.dropdown-filter:before {
  content: "";
  border-bottom: 10px solid #ccc;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 3px;
  z-index: 10;
}
.dropdown ul.dropdown-filter:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  left: 1px;
  z-index: 9;
}

#validateForm .tooltip-inner {
  max-width: 270px;
  width: 270px;
  ul {
//    text-align: left !important;
//    margin: 0 3px;
    padding: 0 10px;
  }
}
