.login-container {
  .panel {
    width: 400px;
    margin: 0 auto;
  }
  .forget-pwd {
    display: block;
    clear: both;
    margin-top: 10px;
  }
}

#passwordReset .form-control-feedback {
  right: 10px;
}