<div id="tvGuidePanel">
	<div class="prev-episode" ng-click="prevEpisode()"> Prev </div>
	<div class="next-episode" ng-click="nextEpisode()"> Next </div>
	<!--<div id="nowLine"></div>-->
	<ul ng-repeat="channel in channels" ng-show="checkFilter(channel)">
		<li>
			<div class="channel-number">
				<p ng-bind="channel.channelInfo.number"></p>
			</div>
			<div class="epg-logo" ng-bind="channel.channelInfo.slug"></div>
			<div class="epg-shows">
				<ul class="epg-shows-list">
					<li ng-repeat="epgList in channel.channelInfo.transmissions">
						<!--<a title="{{ epgList.title }}">-->
						<span ng-bind="epgList.title"> Show name </span>
						<!--<span>{{epgList.start*1000  | date:'HH:mm'}} - {{epgList.end*1000 | date:'HH:mm'}}</span>-->
						<!--</a>-->
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
