<div class="navbar-collapse">

	<div class="prev-days"><a href="" ng-click="prevDays()" ng-animate="">Prev 7 Days</a></div>
	<ul id="dayNav" class="nav navbar-nav" ng-repeat="item in days">
		<li>
			<a href="" ng-click="changeDate(item.date)">
				<span class="day">{{ item.day }}</span><br>
				<span class="date" ng-bind="item.date | uppercase"></span>
			</a>
		</li>
	</ul>
	<div class="next-days"><a href="" ng-click="nextDays()"> Next 7 Days</a></div>

	<ul id="timeNav" class="nav navbar-nav">
		<li class="morning"><a href=""> Morning</a></li>
		<li class="afternoon"><a href=""> Afternoon</a></li>
		<li class="evening"><a href=""> Evening</a></li>
		<li class="night"><a href=""> Night</a></li>
		<li class="onnow"><a href=""> ON NOW</a></li>
	</ul>
</div>