<div>
	<ul id="dayNav">
		<li class="prev-days">Prev 7 Days</li>
		<li class="day-one">Day 1</li>
		<li class="day-two">Day 2</li>
		<li class="day-three">Day 3</li>
		<li class="day-four">Day 4</li>
		<li class="day-five">Day 5</li>
		<li class="day-six">Day 6</li>
		<li class="day-seven">Day 7</li>
		<li class="next-days">Next 7 Days</li>
	</ul>

	<ul id="timeNav">
		<li class="morning">Morning</li>
		<li class="afternoon">Afternoon</li>
		<li class="evening">Evening</li>
		<li class="night">Night</li>
		<li class="onnow">ON NOW</li>
	</ul>
</div>